</div>
<br><br><br>
<hr>
<p class="text-center">&COPY; mycart, 2020</p>
<!-- /.container -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>