</div>
</div>
</div>
<!-- /.container -->
<br><br><br>
<hr>
<p class="text-center"><i class="far fa-copyright"></i> mycart, 2020</p>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://kit.fontawesome.com/cce2972a8f.js" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>

</html>