<%-include ('_layouts/header') %>

<h1 class="display-1 text-center">
  <i class="fas fa-check"></i> Your order is confirmed
</h1>
<h2 class="display-2 text-center">
  <i class="far fa-calendar"></i> Your order will reach you by
  <span id="date"></span>
</h2>
<h3 class="display-3 text-center">
  <i class="fas fa-at"></i> Check your email for more details
</h3>
<div class="text-center">
  <a class="btn btn-info m-*-auto" href="/"
    ><i class="fas fa-shopping-bag"></i> Continue Shopping</a
  >
</div>

<script>
  n = new Date();
  y = n.getFullYear();
  m = n.getMonth() + 1;
  d = n.getDate() + 2;
  document.getElementById("date").innerHTML = d + "/" + m + "/" + y;
</script>
<%-include ('_layouts/footer') %>
