<%-include ('_layouts/header') %>
<h1 class="text-center"><%=title %></h1>
<form action="/users/register" method="post">
  <div class="form-group">
    <label for=""><i class="fas fa-smile"></i> Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Full Name"
    />
  </div>

  <div class="form-group">
    <label for=""><i class="fas fa-at"></i> Email</label>
    <input type="text" name="email" class="form-control" placeholder="Email" />
  </div>

  <div class="form-group">
    <label for=""><i class="far fa-user"></i> Username</label>
    <input
      type="text"
      name="username"
      class="form-control"
      placeholder="Username"
    />
  </div>

  <div class="form-group">
    <label for=""><i class="fas fa-lock"></i> Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Password"
    />
  </div>

  <div class="form-group">
    <label for=""><i class="fas fa-lock"></i> Confirm Password</label>
    <input
      type="password"
      name="password2"
      class="form-control"
      placeholder="Confirm Password"
    />
  </div>
  <div class="form-group">
    <label for=""><i class="fas fa-map-marker"></i> Address</label>
    <textarea
      name="address"
      placeholder="Address"
      cols="20"
      rows="3"
      class="form-control"
    ></textarea>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-user-plus"></i> Sign Up
    </button>
  </div>
</form>
<%-include ('_layouts/footer') %>
