<%-include ('_layouts/header') %>
<h1 class="text-center"><%=title %></h1>
<form action="/users/register" method="post">
  <div class="form-group">
    <label for="">Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Full Name"
    />
  </div>

  <div class="form-group">
    <label for="">Email</label>
    <input type="text" name="email" class="form-control" placeholder="Email" />
  </div>

  <div class="form-group">
    <label for="">Username</label>
    <input
      type="text"
      name="username"
      class="form-control"
      placeholder="Username"
    />
  </div>

  <div class="form-group">
    <label for="">Password</label>
    <input
      type="text"
      name="password"
      class="form-control"
      placeholder="Password"
    />
  </div>

  <div class="form-group">
    <label for="">Confirm Password</label>
    <input
      type="text"
      name="password2"
      class="form-control"
      placeholder="Confirm Password"
    />
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>
<%-include ('_layouts/footer') %>
